alembic
click
Flask==1.1.4
Flask-Cors
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
Mako
MarkupSafe
psycopg2-binary
python-dateutil
python-editor
six
SQLAlchemy
Werkzeug
python-slugify